/* Set the proportions */
.chunk,
footer {
    width: 100%;
    /* height: 100%; */
    position: relative;
}

.content_div {
    min-height: calc(100% - 150px);
    padding: 100px 4% 50px 4%;
}

/* Colors for the sections */
/* 'color' sets the text color of the section while the 'background' sets the theme (sometimes in gradient) */
.first,
.first_nav {
    color: black;
    background: linear-gradient(90deg, #4169e1 64%, #3850a2 36%);
}

.second,
.second_nav {
    color: black;
    background: #ffe67f;
}

.third,
.third_nav {
    color: black;
    background: #8e1b8f;
}

.forth,
.forth_nav {
    color: white;
    background: #241c1c;
}

footer,
.footer_nav {
    color: black;
    background: #ffffff;
}

/* Set the grids */
/* About fr https://css-tricks.com/introduction-fr-css-unit/ */
.first_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2.5%;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
}

.second_content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0%;
    justify-items: stretch;
    align-items: stretch;
}

.forth_content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 5%;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
}

@media (max-width: 940px) {

    .first_image {
        display: none;
    }

    .first_content {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: stretch;
        align-items: stretch;
    }

    .first,
    .first_nav {
        color: black;
        background: #4169e1;
    }

    .first {
        height: auto;
    }
}

/* Text sizes */
/* Check https://css-tricks.com/books/volume-i/scale-typography-screen-size/ & https://css-tricks.com/snippets/css/fluid-typography/ */

/* The title */
.frc_text {
    font-size: calc(50px + (150 - 50) * ((100vw - 320px) / (1920 - 320)));
    margin: 3% 0px 20px 0px;
    line-height: 46px;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

/* The other headers */
.sub_text {
    font-size: calc(50px + (60 - 50) * ((100vw - 320px) / (1920 - 320)));
    margin: 0px 0px 10% 0px;
    line-height: 90px;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

/* First description */
.first_text {
    font-size: calc(30px + (50 - 30) * ((100vw - 940px) / (1920 - 940)));
    margin: 5% 0px 0px 0px;
}

/* Second description */
.second_text {
    font-size: calc(20px + (24 - 20) * ((100vw - 940px) / (1920 - 940)));
    margin: 0px 0px 7% 0px;
}

@media (max-width: 940px) {
    .first_text {
        font-size: calc(23px + (30 - 23) * ((100vw - 320px) / (940 - 320)));
        margin: 30px 10% 0px 0px;
        text-align: justify;
        text-justify: inter-word;
    }
}


/* Youtube player that mantains 16:9 https://stackoverflow.com/a/35153397 */
.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
}

.youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.win_svg {
    height: 100%;
    min-height: 500px;
}