html, body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}

/* Navigation bar styles */
nav {
    height: 90px;
    min-width: 100%;
    width: 100%;
    position: fixed;
    /* Flexbox */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
nav > div{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 4% 0px 4%;
}
.reybots {
    margin-left: 3%;
    white-space: nowrap;
}
 /* unvisited link */
.nav_link:link, .nav_link:visited, .nav_link:hover, .nav_link:active {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 2rem;
}
h1 {
    font-size: 3rem;
}
  