html, body {
  /*height: 100%;*/
  width: 100%;
  margin: 0%;
  padding: 0px;
  /*overflow: hidden;*/
}
/* Deleting margins */
div {margin: 0px;padding: 0px;}

.logo {
  margin-left: 15px;
  margin-top:5px;
}
.top {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.down {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 80%;
  background-color: #181818;
}

.nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(36,41,46,0.98);
  color: #fff;
  width: 100%;
  height: 15%;
}
.topnav {
  
}
.photos{
  z-index: -9999;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  width: 100%;
}

body {
 /* background-image: url('pictures/download.png');
/*background: linear-gradient(#ffffff,#ffffff);*/
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
  margin: 0% 0% 0% 1.5%;
  padding: 0px;
  font-size: 5vh;
  vertical-align: middle;
}

h2 {
  color: #cccccc;
   font-size: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

p {
color: #cccccc;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 30px;
}


/*.topnav {
  overflow: hidden;
  background-color: #2980B9;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* ...and now for the proper property 
}

.topnav a:hover {
  /*background-color: rgb(35, 107, 155);
  color: yellow;
} 

.topnav a.active {
  /*background-color: #4CAF50;
  color: gold;
  
}*/



/* Background slideshow photos */
.back {
  z-index: -9999;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/*
If we ever need to hide the Reynolds part for fitting something
@media only screen and (max-width: 1px) {
  .rey {
    display: none;
  }
}*/
